html
{
  margin: 0px;
  padding: 0px;
  background-color: #333;
  font-weight: 300;
  height: 100%;
}
body
{
  background-color: #fff;
  font-size: 10pt;
  margin:0px auto;
  width: 1050px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  min-height: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
select, input, button { font-size:12px; border-radius: 3px}
